@inject NavigationManager NavigationManager

@page "/"

<PageTitle>Landing Page</PageTitle>

<div class="text-center">
    <h1>Velkommen til festivalens vagtsystem</h1>
    <p>Er du frivillig eller koordinator til årets festival?</p>

    <div class="mt-5">
        <NavLink class="btn btn-primary btn-lg mr-3" href="VolunteerPage" >Frivillig</NavLink>
        <NavLink class="btn btn-secondary btn-lg" href="coordinatorpage">Koordinator</NavLink>
    </div>
</div>

@code {

}