@page "/VolunteerPage/{Id}"
@using Blazored.LocalStorage;
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<h1>Velkommen @volunteerName</h1>

@code {
    [Parameter]
    public string Id { get; set; }

    private string volunteerName;

    protected override async Task OnInitializedAsync()
    {
        volunteerName = await LocalStorageService.GetItemAsync<string>("selectedVolunteer");
        if (string.IsNullOrEmpty(volunteerName))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}